<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/out.js"></script>
    <link rel="stylesheet" href="/css/out.css">
    <script>
        call();
    </script>
</head>
<body style="background-color: yellow;">
<h1>첫 페이지입니다.!!!!</h1>
<!-- spring boot에서는 html파일을 클라이언트가 직접
    부를 수 없다.
    a, form, location.href이용해서 html파일을 부를 수 없다.
    무조건 컨트롤러를 거쳐서 불러주어야 한다.!
-->
<a href="test">test call</a> <br>
<a href="member">member call</a> <br>
<a href="board">board call</a> <br>
<img src="/img/new.png">
</body>
</html>